{% extends 'registration/base.html' %}

{% block content %}
<div class="container bg-dark text-light py-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Change Password</h2>

      <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}

        {% if form.errors %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button class="close" data-dismiss="alert">
              <small><sup>x</sup></small>
            </button>
            {% for field in form %}
              {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ field.errors }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {{ form.as_p }}
        
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
